.flex-container {
    max-width: 600px;
    margin: auto;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
    font-family: "Calibri", monospace;
    font-size: 6em;
    margin: 0;
}

.main-div {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 0 10px 10px 10px;
    font-family: monospace;
    text-align: center;
}

.audio {
    width: 100%;
}

.bear {
    font-size: 4em;
}