/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 2em;
}

#container {
    margin: 0 auto;
    max-width: 800px;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 15px;
}

input, textarea, select {
    font-size: 1.5em;
    padding: 5px;
    border: 1px solid #333;
    display: block;
    width: 100%; /* Para ocupar toda a largura do formulário */
    box-sizing: border-box;
    margin-top: 5px;
}

input:focus, textarea:focus, select:focus {
    background-color: #f0f0f0;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #f2f2f2;
    border-bottom: 3px solid #333;
    padding: 20px;
}

td {
    padding: 20px;
    text-align: justify;
    vertical-align: top;
    word-wrap: break-word;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}

/* Mensagens de erro */
ul {
    color: red;
}

.borda-vermelha {
    border-color: red;
}
